<article class="work-block">
	<img src="/img/work/hotcars/logo.svg" class="work-logo" alt="Metro HotCars">

	<img src="/img/work/hotcars/main.jpg" class="column work-hero" alt="Metro HotCars Parody Website">

	<section class="content-block">
		<header class="detail-container detail-nowrap detail-border detail-border-top-large">
			<div class="detail-block detail-border-right detail-year">
				<h2 class="headline-year"><span>20</span><span>13</span></h2>
			</div>

			<div class="detail-container detail-grow">
				<div class="detail-block detail-fill detail-border-bottom"><h3>Design + Code</h3></div>
				<div class="detail-block detail-fill detail-stripe"><h3 class="invisible">00000</h3></div>
			</div>

			<span class="header-digits">
				<span class="header-digits-row">V83-<span class="data-x">00000</span></span>
				<span class="header-digits-row"><span class="data-y">00:00:00</span>UTC</span>
			</span>
		</header>

		<p>Initially built as a humorous single page site to test out some new CSS3 animations and development techniques, Metro HotCars quickly struck a chord with DC residents fed up with the failings of the local regional transit authority. Exploding overnight based on a single tweet, the site saw over twenty five thousand unique visitors within twenty-four hours and was covered by DCist and the CBS local news. After receiving a cease and desist from the transit authority’s lawyers, the site was quickly redacted, with all references, copyrights, and trademarks scribbled out in the style of confidential documents. This, of course, elicited another round of coverage from the local media, heaping scorn on the transit authority’s handling of the situation. What started as a simple design experiment launched in the middle of the night escalated into an example of how not to respond to social media and satire online. The static site was built using SASS and Compass.</p>

		<footer class="detail-container detail-border detail-border-bottom-large">
			<div class="detail-block detail-fill detail-stripe"></div>
		</footer>
	</section>

	<section class="column work-container clearfix">
        <div class="grid_row">
	        <div class="half"><img src="/img/main/trans-tall.png" data-original="/img/work/hotcars/1.jpg" class="bordered lazyload" alt="Metro HotCars Parody Website"></div>
	        <div class="half"><img src="/img/main/trans-tall.png" data-original="/img/work/hotcars/2.jpg" class="bordered lazyload" alt="Metro HotCars Parody Website"></div>
        </div>
    </div>
</article>