<article class="work-block">
	<img src="/img/work/mfstrangers/logo.svg" class="work-logo" alt="Mistaken For Strangers">

	<img src="/img/work/mfstrangers/main.jpg" class="column work-hero" alt="Mistaken For Strangers Music Blog">

	<section class="content-block">
		<header class="detail-container detail-nowrap detail-border detail-border-top-large">
			<div class="detail-block detail-border-right detail-year">
				<h2 class="headline-year"><span>20</span><span>13</span></h2>
			</div>

			<div class="detail-container detail-grow">
				<div class="detail-block detail-fill detail-border-bottom"><h3>Design + Code + Identity</h3></div>
				<div class="detail-block detail-half detail-stripe detail-border-right"><h3 class="invisible">00000</h3></div>
				<div class="detail-half">
					<a href="http://thisweeksplaylist.co/" target="_blank" class="button-cta">Visit Site</a>
				</div>
			</div>

			<span class="header-digits">
				<span class="header-digits-row">V83-<span class="data-x">00000</span></span>
				<span class="header-digits-row"><span class="data-y">00:00:00</span>UTC</span>
			</span>
		</header>

		<p>A Washington, DC-based music blog started by myself and two fellow music lovers, Mistaken For Strangers’ tagline is &ldquo;We like good music. We think you should too.&rdquo; All identity and branding from the start was done with the intent of conveying the knowledge and love of music that we share. The site was designed to be more like a print magazine than a traditional blog, with a focus on large imagery, great typography, and dynamic high-impact layouts. Mistaken For Strangers was built using SASS and Compass with fully responsive custom templates (including swipe gestures, AJAX loading, and web app capability for mobile) on a WordPress backend.</p>

		<footer class="detail-container detail-border detail-border-bottom-large">
			<div class="detail-block detail-fill detail-stripe"></div>
		</footer>
	</section>

	<section class="column work-container clearfix">
        <div class="full">
            <div class="browser"></div>
            <div class="video-load browser-video">
	            <!--<iframe src="//player.vimeo.com/video/88718128" width="1024" height="579" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
            </div>
        </div>
        <div class="grid_row">
	        <div class="third"><img src="/img/main/trans-tall.png" data-original="/img/work/mfstrangers/1.jpg" class="bordered lazyload" alt="Mistaken For Strangers Music Blog"></div>
	        <div class="third"><img src="/img/main/trans-tall.png" data-original="/img/work/mfstrangers/2.jpg" class="bordered lazyload" alt="Mistaken For Strangers Music Blog"></div>
	        <div class="third"><img src="/img/main/trans-tall.png" data-original="/img/work/mfstrangers/3.jpg" class="bordered lazyload" alt="Mistaken For Strangers Music Blog"></div>
        </div>
    </div>
</article>