<article class="work-block">
	<img src="/img/work/thisweeksplaylist/logo.svg" class="work-logo" alt="This Week's Playlist">

	<img src="/img/work/thisweeksplaylist/main.jpg" class="column work-hero" alt="This Week's Playlist Website & Mobile Experience">

	<section class="content-block">
		<header class="detail-container detail-nowrap detail-border detail-border-top-large">
			<div class="detail-block detail-border-right detail-year">
				<h2 class="headline-year"><span>20</span><span>15</span></h2>
			</div>

			<div class="detail-container detail-grow">
				<div class="detail-block detail-fill detail-border-bottom"><h3>Design + Code + Identity</h3></div>
				<div class="detail-block detail-half detail-stripe detail-border-right"><h3 class="invisible">00000</h3></div>
				<div class="detail-half">
					<a href="http://thisweeksplaylist.co/" target="_blank" class="button-cta">Visit Site</a>
				</div>
			</div>

			<span class="header-digits">
				<span class="header-digits-row">V83-<span class="data-x">00000</span></span>
				<span class="header-digits-row"><span class="data-y">00:00:00</span>UTC</span>
			</span>
		</header>

		<p>With so much new music being released every week, how does someone find the best of it without constantly visiting blogs or relying on Pandora or Spotify to happen upon a song they might like? That was the challenge tackled by This Week's Playlist &mdash; every Sunday, a new playlist of ten to twenty songs, curated by myself and a fellow music blog veteran. Intended to be inherently temporary, there is no archive or reference of old playlists or songs. With a mix of all genres and styles, the site uses large beautiful serif type contrasted with an old-school monospace font to introduce listeners to something they might not have heard before (and, hopefully, will dance along to). A static site built with Gulp and SASS, This Week's Playlist is fully responsive so that anyone, anywhere can listen on whatever device or platform they prefer.</p>

		<footer class="detail-container detail-border detail-border-bottom-large">
			<div class="detail-block detail-fill detail-stripe"></div>
		</footer>
	</section>

	<section class="column work-container clearfix">
        <img src="/img/main/trans-wide.png" data-original="/img/work/thisweeksplaylist/1.jpg" class="full bordered lazyload" alt="This Week's Playlist Website Experience">
        <div class="grid_row">
        	<div class="third"><img src="/img/main/trans.png" data-original="/img/work/thisweeksplaylist/2.jpg" class="bordered lazyload" alt="This Week's Playlist Mobile Experience"></div>
        	<div class="third"><img src="/img/main/trans.png" data-original="/img/work/thisweeksplaylist/3.jpg" class="bordered lazyload" alt="This Week's Playlist Mobile Experience"></div>
        	<div class="third"><img src="/img/main/trans.png" data-original="/img/work/thisweeksplaylist/4.jpg" class="bordered lazyload" alt="This Week's Playlist Mobile Experience"></div>
        </div>
    </div>
</article>