/* MAIN AREAS */

.work-block,
.about-block {
	// padding: 12rem 0;
	padding: 40vh 0;
	opacity: 0.75;
	@include perspective(1000);
	@include transform(translateZ(0));
	transition: 0.25s;

	&.active {
		opacity: 1;
	}
}
.about-block {
	opacity: 1;
}
.work-container {
	padding-top: 7rem;

	@include breakpoint(mobile) {
		padding-top: 5rem;
	}
}