/* NAVIGATION */

nav {
	@include display(flex);
	@include flex-direction(row);
	@include align-items(stretch);
	@include justify-content(flex-start);
	@include align-content(flex-start);
	@include flex-wrap(wrap);

	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	width: 100%;

	background: white;
	border-bottom: 1px solid $dark;

	@include transform(translate3d(0, -100%, 0));
	transition: 0.25s;
	@include perspective(1000);

	&.visible {
		@include transform(translate3d(0, 0, 0));
	}
}

.nav-link {
	@include display(flex);
	@include align-items(center);

	height: 100%;

	padding: 5px 31px;

	&.inactive {
		cursor: default;
	}
}