/* TEXT SETTINGS */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    font-feature-settings: "kern" 1;
    font-kerning: normal;

    color: $dark;

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4 {
	letter-spacing: 0.2em;

	color: $dark;
}

h1,
h3,
h4 {
	font-family: "mono45-headline", monospace;
}
h2,
.caption {
	font-family: "motor", monospace;
}

h1 {
	font-size: 1em;
}

h2 {
	font-size: 1.25em;

	text-indent: 0.2em;
	line-height: 1.2;

	span {
		display: block;
	}
}

h3 {
	font-size: 0.85em;

	line-height: 1.1;
}

h4 {
	font-size: 0.7em;

	line-height: 1.5;

	a {
		display: inline-block;

		position: relative;

		text-decoration: none;

		&:after {
			display: block;

			position: absolute;
			left: 0;
			right: 0.2em;
			top: 100%;

			height: 1px;

			background: black;

			content: '';

			@include breakpoint(mobile) {
				margin-top: -2px;
			}
		}
	}
}

p {
	font-family: Georgia, serif;
	font-size: 1.2em;
	
	line-height: 1.65;

	color: $dark;

	&:only-of-type {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	em {
		font-style: italic;
	}
	strong {
		font-weight: bold;
	}

	a {
		font-weight: bold;
		text-decoration: none;

		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
}

.caption {
	font-size: 0.85em;

	line-height: 1.4;

	letter-spacing: 0.025em;

	text-transform: uppercase;
}


.nav-link {
	font-family: "mono45-headline", monospace;
	font-size: 0.75em;

	letter-spacing: 0.25em;

	text-decoration: none;
}


.hero-headline {
	@include display(flex);
	@include align-items(center);

	height: 50%;
	width: 100%;

	padding: 0 10px;
}
.headline-year {
	margin: auto;
}


.hero-digits,
.header-digits {
	font-family: "motor", monospace;
	font-size: 0.55em;

	letter-spacing: 0.2em;
	line-height: 1.2;
}


.button-cta {
	background: rgba($dark, 0.25);
	display: block;
	width: 100%;
	height: 100%;

	@include display(flex);
	@include justify-content(center);
	@include align-items(center);

	color: $dark;
	font-family: "mono45-headline", monospace;
	letter-spacing: 0.2em;
	text-decoration: none;
	font-size: 0.85em;
	line-height: 1.1;

	&:hover,
	&:active {
		background: $dark;
		color: white;
	}
}