<section class="hero-main">
	<div class="content-block detail-container detail-border detail-border-bottom-large">
		<div class="detail-block detail-border-right">
			<object data="/img/main/logo-main-animated.svg" type="image/svg+xml" class="hero-main-logo">
		    	<embed src="/img/main/logo-main-animated.svg" type="image/svg+xml" class="hero-main-logo" />
			</object>
		</div>
		<div class="detail-grow">
			<h1 class="hero-headline detail-border-bottom">Kyle Conrad</h1>
			<h1 class="hero-headline">Design + Code</h1>
		</div>
		<div class="detail-block detail-border-left detail-year">
			<h2 class="headline-year"><span>20</span><span>17</span></h2>
		</div>
		<div class="detail-block detail-fill detail-border-top detail-stripe"></div>

		<span class="hero-digits">
			<span class="header-digits-row">V83-<span class="data-x">00000</span></span>
			<span class="header-digits-row"><span class="data-y">00:00:00</span>UTC</span>
		</span>
	</div>
</section>